In [1]:
import pandas as pd
df = pd.read_csv("world-airports.csv", na_values=[], keep_default_na=False)
df.shape

(83486, 24)

In [3]:
print(df.columns)

Index(['id', 'ident', 'type', 'name', 'latitude_deg', 'longitude_deg',
       'elevation_ft', 'continent', 'country_name', 'iso_country',
       'region_name', 'iso_region', 'local_region', 'municipality',
       'scheduled_service', 'gps_code', 'icao_code', 'iata_code', 'local_code',
       'home_link', 'wikipedia_link', 'keywords', 'score', 'last_updated'],
      dtype='object')

In [4]:
cols_to_remove = ['id', 'ident', 'local_region', 'score', 'last_updated', 'keywords', 'scheduled_service', 'gps_code', 'local_code']
df = df.drop(columns=cols_to_remove)
print(df.columns)

Index(['type', 'name', 'latitude_deg', 'longitude_deg', 'elevation_ft',
       'continent', 'country_name', 'iso_country', 'region_name', 'iso_region',
       'municipality', 'icao_code', 'iata_code', 'home_link',
       'wikipedia_link'],
      dtype='object')

In [5]:
filtered_df = df[df['type'].isin(['large_airport', 'medium_airport','small_airport'])]
filtered_df.shape

(47512, 15)

In [6]:
# Remove rows where iata_code is missing (NaN) or empty
filtered_df = filtered_df[filtered_df['iata_code'].notna() & (filtered_df['iata_code'] != '')]
filtered_df.shape

(8819, 15)

In [7]:
filtered_df['continent'].unique()

array(['EU', 'NA', 'AS', 'OC', 'AF', 'SA', 'AN'], dtype=object)

In [8]:
continent_map = {
    'EU': 'Europe',
    'NA': 'North America',
    'AS': 'Asia',
    'OC': 'Oceania',
    'AF': 'Africa',
    'SA': 'South America',
    'AN': 'Antarctica',
}
filtered_df['continent'] = filtered_df['continent'].map(continent_map)
filtered_df['continent'].unique()

array(['Europe', 'North America', 'Asia', 'Oceania', 'Africa',
       'South America', 'Antarctica'], dtype=object)

In [9]:
world_df = filtered_df.sort_values(
    by=["type", "country_name"],
    ascending=[True, True]
)

In [10]:
# Save DataFrame to JSON
json_str = world_df.to_json(orient="records", force_ascii=False)

with open("world_airports.json", "w", encoding="utf-8") as f:
    f.write(json_str)